<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ROB BOGGLE</title>
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-100 min-h-screen flex items-center justify-center">
    <div class="container mx-auto px-4 max-w-2xl space-y-4">
      <div class="bg-white p-8 rounded-lg shadow-md">
        <h1 class="text-2xl font-bold mb-6 text-center text-gray-800">
          Enter Your BOGGLE
        </h1>
        <form class="space-y-4">
          <input
            type="text"
            name="boggle"
            class="w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
            placeholder="abcdabcdabcdabcd"
            onclick="this.select()"
            minlength="16"
            maxlength="16"
            required
            autofocus
          />
          <button
            class="w-full bg-blue-600 text-white py-2 px-4 rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition duration-150 ease-in-out"
            hx-post="/boggle/rob"
            hx-swap="outerHTML"
            hx-target="#robbed_words"
            type="submit"
          >
            ROB!
          </button>
        </form>
      </div>
      <div
        class="w-full bg-white rounded-lg shadow-md leading-relaxed font-mono text-center"
        id="robbed_words"
      ></div>
    </div>
  </body>
</html>
